<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center"> update task </h1>
        <div class="col-md-6">
             
                
            <div class="form-group">
                <form action ="#" th:action="@{edit/{id}(id=${employeeId})}" th:object="${employee}" method="PUT" >
           <label>description</label>  
           
           <input class="form-control" type="text" th:field="${employee.firstName}"id="name" placeholder="name">
           <input class="form-control" type="text" th:field="${employee.lastName}"id="name" placeholder="name"> 
            <input class="form-control" type="text" th:field="${employee.email}"id="name" placeholder="name"> 
          <input class="form-control" type="text" th:object="${employee.theProject}"id="name" placeholder="projectId"/>  
          <button type="submit">update employee</button>
                </form>
           
    </div>
    </div>



</body>
</html>