<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet"
         th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css}" />
      <link th:rel="stylesheet"
         th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.css}" />
      <link th:rel="stylesheet"
         th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
     
    <link href="../static/css/custom-styles.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
    

  <h4>Projects</h4>

   <table>
    <thead>   
     <th>project name</th>
     <th>project stage</th>
    </thead>
   <tbody>
        <tr th:each="tempProject : ${projectsList}">

           
            <td th:text="${tempProject.stage"/>
            <td th:text="${tempProject.description"/>
        </tr>
    </tbody>


   </table>




</body>
</html>