<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet"
         th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css}" />
      <link th:rel="stylesheet"
         th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.css}" />
      <link th:rel="stylesheet"
         th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
     
    <link href="../static/css/custom-styles.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
    
  <!-- <div class="container">
   <form action="/employees/save" th:object:"${employee} method="POST">

    <input type="text" placeholder="employee Name" th:field="${employee.firstName}">
    <input type="text" placeholder="employee last Name" th:field="${employee.lastName}">
    <input type="text" placeholder="email" th:field="${employee.email}">
    <button type="submit">Create a new project</button>
   </form>
    </div> -->
    <div class="container">
        
            <form action="/employees/save" th:object:"${employee}" method="POST">
             <input type="text" placeholder="employee Name" th:field="${employee.firstName}">
             <input type="text" placeholder="employee last Name" th:field="${employee.lastName}">
             <input type="text" placeholder="email" th:field="${employee.email}">

             <!-- I should get projects list from database
                <input type="text" placeholder="project" th:field="${employee.theProject}">  -->
             <button type="submit">Create a new employee</button>
            </form>
       </div>
 




</body>
</html>